* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #888c03;
}

.header-icons {
  display: flex;
  gap: 8px;
}

.header-icons a:hover i {
  animation: translateY 0.3s infinite alternate;
  color: rgb(66, 66, 10);
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 2px solid rgb(66, 66, 10);
  padding: 8px 24px;
  border-radius: 10px;
  color: black;
  background-color: transparent;
  transition: background-color 0.4s;
}

.header-button:hover {
  border: 3px solid #f2eda2;
  background-color: rgb(66, 66, 10);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 26px;
    font-size: 40px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(242, 237, 162, 0.362), white), url("../imagens/thomas-kinto-CHbuoA1p01M-unsplash.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: rgb(66, 66, 10);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 35px;
}
.hero h2 {
  font-size: 45PX;
  color: rgb(138, 138, 44);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.692);
  font-family: cursive;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 28px;
  color: white;
  background-color: #6f7302;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.558);
}

.button-contact:hover {
  animation: scaleButton 0.5s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.03);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 30px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
body {
  font-family: "kadwa", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #f2eda2;
}

button {
  font-family: "kadwa" sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */