*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    outline: none;
}
@import "partials/colors";
@import"partials/header";
@import"partials/layout";

body{
    font-family: 'kadwa', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;

    background-color: $primary-normal;
}

button{
    font-family: 'kadwa' sans-serif;
    cursor: pointer;
}

svg{
    width: 100%;
}
img{
    width: 100%;
}
a{
    cursor: pointer;
    text-decoration: none;
}